/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require bootstrap
*= require_self
*= tooth.css
*= require signin
*/

.main-page {
    height: 100%;
    background-size: cover;
    background: url("../images/dentist-website-image.jpg") no-repeat center center;
}

input[type="email"] {
    background: none;
    color: #000000;
}

.treatment-list {
    max-height: 400px;
    overflow-y: scroll;
}