<?xml version="1.0" encoding="UTF-8"?>

<configuration>

  <!--<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">-->
    <!--<resetJUL>true</resetJUL>-->
  <!--</contextListener>-->

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d | %thread | %-5level | %logger:%line - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="org.mortbay" level="ALL"/>

  <logger name="org.hibernate.loader" level="ERROR"/>

  <logger name="com.dntistpro.persistence" level="ERROR" />
  <logger name="com.dntistpro.service" level="DEBUG" />
  <logger name="com.dntistpro.web" level="DEBUG" />

  <logger name="com.dntistpro.tools" level="ERROR" additivity="false">
    <appender-ref ref="CONSOLE" />
  </logger>

  <!-- DEBUG level prints Exception because a ConfigurationException logs itself (at DEBUG level) on creation -->
  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
  </root>
</configuration>